APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_URL=https://blackhand.scopeh.co.uk

DB_HOST=localhost
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_PREFIX=bh_

CACHE_DRIVER=file
SESSION_DRIVER=database
QUEUE_DRIVER=sync

MAIL_DRIVER=mail
MAIL_FROM_NAME=Blackhand
MAIL_FROM_ADDRESS=blackhand@test.dev

EVEONLINE_CLIENT_ID=
EVEONLINE_CLIENT_SECRET=
EVEONLINE_CALLBACK_URI=https://blackhand.scopeh.co.uk/sso/callback

AGENT_RELAY_CONFIRMED_DISCORD_WEBHOOK=
AGENT_STATUS_DISCORD_WEBHOOK=
AGENT_TRAINING_MANUAL_DISCORD_WEBHOOK=
AGENT_QUESTIONAIRE_DISCORD_WEBHOOK=
AGENT_NEW_CONTACT_NOTE_DISORD_WEBHOOK=
AGENT_LAST_CONTACTED_DISCORD_WEBHOOK=
